Flask==3.1.0
requests==2.32.3
python-binance==1.0.28
websocket-client==1.8.0
python-dateutil==2.9.0.post0
ccxt==4.4.75
pandas==1.5.0
-e git+https://github.com/hyperliquid-dex/hyperliquid-python-sdk.git@719c002a0dfe1b3ce14d3aefa2ad7939efc08d7a#egg=hyperliquid_python_sdk